.navber {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 24px 0;
  background-repeat: no-repeat;
  position: sticky;
}
.navber .nav-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.navber .nav-logo img {
  height: 48px;
  width: 48px;
}
.navber .nav-logo h2 {
  font-size: 36px;
  font-weight: 800;
  font-family: "Urbanist", sans-serif;
}
.navber .nav-menu ul {
  display: flex;
  gap: 32px;
}
.navber .nav-menu ul li {
  list-style: none;
}
.navber .nav-menu ul li a {
  text-decoration: none;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #141F39;
}
.navber .nav-btn {
  background-color: #141F39;
  padding: 20px 32px;
  border-radius: 50px;
  transition: 0.5s;
}
.navber .nav-btn a {
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.navber .nav-btn:hover {
  background-color: #6E65E5;
  transition: 0.5s;
}

.responsive .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 999;
}
.responsive .slick-arrow.btn-prev {
  left: -80px;
  transition: all 0.5s;
}
.responsive .slick-arrow.btn-next {
  right: -80px;
  transition: all 0.5s;
}
.responsive .slick-arrow button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  background-color: #6E65E5;
  border: 0;
  transition: all 0.5s;
}
.responsive .slick-arrow button:hover {
  background-color: #FF7F63;
  transition: all 0.5s;
}
.responsive:hover .btn-prev {
  left: 40px;
  transition: all 0.5s;
}
.responsive:hover .btn-next {
  right: 40px;
  transition: all 0.5s;
}

.home-page-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0 82px 0;
}
.home-page-container .home-page-content {
  position: relative;
}
.home-page-container .home-page-content h6 {
  color: #FF7F63;
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.home-page-container .home-page-content h2 {
  font-family: "Urbanist", sans-serif;
  font-size: 68px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #141F39;
}
.home-page-container .home-page-content p {
  color: #525256;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 50px;
  margin-top: 28px;
}
.home-page-container .home-page-content a {
  background-color: #FF7F63;
  padding: 20px 32px;
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  transition: 0.5s;
}
.home-page-container .home-page-content a:hover {
  background-color: #141F39;
  transition: 0.5s;
}
.home-page-container .home-page-content img {
  position: absolute;
  bottom: -165px;
  right: 0;
}
.home-page-container .home-page-img {
  position: relative;
}
.home-page-container .home-page-img .home-page-graph {
  position: absolute;
  bottom: -6px;
  right: 415px;
  animation: moveUpDown 4s linear infinite;
}
.home-page-container .home-page-img .home-page-animation {
  position: absolute;
  top: -45px;
  right: 0;
  animation: moveUpDown1 4s linear infinite;
}

@keyframes moveUpDown {
  0% {
    bottom: -6px;
  }
  50% {
    bottom: -30px;
  }
  100% {
    bottom: -6px;
  }
}
@keyframes moveUpDown1 {
  0% {
    right: 0;
  }
  50% {
    right: 20px;
  }
  100% {
    right: 0;
  }
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}