.navber {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 24px 0;
  background-repeat: no-repeat;
  position: sticky;
}
.navber .nav-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.navber .nav-logo img {
  height: 48px;
  width: 48px;
}
.navber .nav-logo h2 {
  font-size: 36px;
  font-weight: 800;
  font-family: "Urbanist", sans-serif;
}
.navber .nav-menu ul {
  display: flex;
  gap: 32px;
}
.navber .nav-menu ul li {
  list-style: none;
  position: relative;
}
.navber .nav-menu ul li a {
  text-decoration: none;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #141F39;
}
.navber .nav-btn {
  background-color: #141F39;
  padding: 20px 32px;
  border-radius: 50px;
  transition: 0.5s;
}
.navber .nav-btn a {
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.navber .nav-btn:hover {
  background-color: #6E65E5;
  transition: 0.5s;
}

.responsive .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 999;
}
.responsive .slick-arrow.btn-prev {
  left: -80px;
  transition: all 0.5s;
}
.responsive .slick-arrow.btn-next {
  right: -80px;
  transition: all 0.5s;
}
.responsive .slick-arrow button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  background-color: #6E65E5;
  border: 0;
  transition: all 0.5s;
  cursor: pointer;
}
.responsive .slick-arrow button:hover {
  background-color: #FF7F63;
  transition: all 0.5s;
}
.responsive:hover .btn-prev {
  left: 40px;
  transition: all 0.5s;
}
.responsive:hover .btn-next {
  right: 40px;
  transition: all 0.5s;
}

.home-page-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0 82px 0;
}
.home-page-container .home-page-content {
  position: relative;
}
.home-page-container .home-page-content h6 {
  color: #FF7F63;
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.home-page-container .home-page-content h2 {
  font-family: "Urbanist", sans-serif;
  font-size: 68px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #141F39;
}
.home-page-container .home-page-content p {
  color: #525256;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 50px;
  margin-top: 28px;
}
.home-page-container .home-page-content a {
  background-color: #FF7F63;
  padding: 20px 32px;
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  transition: 0.5s;
}
.home-page-container .home-page-content a:hover {
  background-color: #141F39;
  transition: 0.5s;
}
.home-page-container .home-page-content img {
  position: absolute;
  bottom: -165px;
  right: 0;
}
.home-page-container .home-page-img {
  position: relative;
}
.home-page-container .home-page-img .home-page-graph {
  position: absolute;
  bottom: -6px;
  right: 415px;
  animation: moveUpDown 4s linear infinite;
}
.home-page-container .home-page-img .home-page-animation {
  position: absolute;
  top: -45px;
  right: 0;
  animation: moveUpDown1 4s linear infinite;
}

@keyframes moveUpDown {
  0% {
    bottom: -6px;
  }
  50% {
    bottom: -30px;
  }
  100% {
    bottom: -6px;
  }
}
@keyframes moveUpDown1 {
  0% {
    right: 0;
  }
  50% {
    right: 20px;
  }
  100% {
    right: 0;
  }
}
.about-us-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 120px 0;
}
.about-us-container .about-us-img {
  background-position: center;
  align-items: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 150px;
}
.about-us-container .about-us-img img {
  width: 100%;
}
.about-us-container .about-us-img .person-animation {
  position: absolute;
  top: -20px;
  left: 0;
  animation: moveUpDown2 4s linear infinite;
}
.about-us-container .about-us-img .groth-animation {
  position: absolute;
  bottom: -80px;
  right: -75px;
  animation: moveUpDown3 4s linear infinite;
}
.about-us-container .about-us-content h6 {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  color: #FF7F63;
  font-size: 16px;
  margin-bottom: 12px;
}
.about-us-container .about-us-content h2 {
  font-size: 54px;
  font-family: "Urbanist", sans-serif;
  font-weight: 800;
  margin-bottom: 16px;
}
.about-us-container .about-us-content p {
  font-size: 16px;
  color: #525256;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 48px;
}
.about-us-container .about-us-content .about-us-content-card {
  display: flex;
  gap: 20px;
}
.about-us-container .about-us-content .about-us-content-card img {
  width: 70px;
  height: 70px;
}
.about-us-container .about-us-content .about-us-content-card h3 {
  font-size: 24px;
  font-family: "Urbanist", sans-serif;
  font-weight: 800;
}

@keyframes moveUpDown2 {
  0% {
    top: -20px;
  }
  50% {
    top: -40px;
  }
  100% {
    top: -20px;
  }
}
@keyframes moveUpDown3 {
  0% {
    bottom: -40px;
  }
  50% {
    bottom: -80px;
  }
  100% {
    bottom: -40px;
  }
}
.rating-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 100px;
  background-color: #5F54D3;
  padding: 80px 0;
}
.rating-container .rating-clints {
  padding-right: 100px;
}
.rating-container .rating-clints h2 {
  color: #fff;
  font-family: "Urbanist", sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
.rating-container .rating-clints p {
  color: #fff;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}
.rating-container .rating-star {
  display: flex;
  gap: 64px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  padding-left: 150px;
}
.rating-container .rating-star div h2 {
  color: #fff;
  font-size: 54px;
  font-family: "Urbanist", sans-serif;
  font-weight: 800;
}
.rating-container .rating-star div p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px 0;
  letter-spacing: 1.5px;
}
.rating-container .rating-star div div {
  padding-top: 10px;
  display: flex;
  gap: 8px;
}
.rating-container .rating-star div div a {
  color: #FDD540;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}