.rating-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
    background-color: #5F54D3;
    padding: 80px 0;

    .rating-clints {
        // border-right: 1px solid #fff;
        padding-right: 100px;

        h2 {
            color: #fff;
            font-family: $headerFont;
            font-size: 36px;
            font-weight: 700;
            letter-spacing: 1px;
            margin-bottom: 8px;
        }

        p {
            color: #fff;
            font-size: 16px;
            font-family: $secondaryFont;
            letter-spacing: 1px;
        }
    }

    .rating-star {
        display: flex;
        gap: 64px;
        border-left: 1px solid rgba(255, 255, 255, 0.15);
        padding-left: 180px;

        div {
            h2 {
                color: #fff;
                font-size: 54px;
                font-family: $headerFont;
                font-weight: 800;
            }

            p {
                font-family: $secondaryFont;
                font-size: 16px;
                color: #fff;
                margin-bottom: 10px 0;
                letter-spacing: 1.5px;
            }

            div {
                padding-top: 10px;
                display: flex;
                gap: 8px;

                ul {
                    color: #FDD540;
                    list-style: none;
                    display: flex;
                    gap: 8px;
                }
            }
        }
    }
}