$primaryFont: 'DM Sans', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;
$headerFont: 'Urbanist', sans-serif;
$primaryBtnColor: #141F39;
$hoverColor: #6E65E5;
$orangeColor: #FF7F63;
$grayColor: #525256;


@import "header";
@import "home-page";
@import "about-us";
@import "rating-page";
@import "service-page";
@import "home-page-1";
@import "work-process";
@import "project-page";
@import "team-members-page";
@import "plan-page";
@import "blog-page";



* , *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection {
    background-color: #6E65E5;
    color: #fff;
}


